[Desktop Entry]
Name=Fedit
Comment=A Simple text editor with python tkinter
Exec=/usr/bin/python3 /usr/share/fedit/main.py
Icon=/usr/share/fedit/fedit.png
Terminal=false
Type=Application
Categories=Utility;
Name[en_IN]=Fedit
